---

/*
    *  -----------------------------------------------------------------  *
    *  -----  Title.astro  --  /src/components/shared/Title.astro  -----  *
    *  -----------------------------------------------------------------  *
*/

---


<h1 class="text-xl font-bold capitalize ml-5">
    <slot />
</h1>


<div class="border-b-2 border-blue-500 mt-2" />
