---


/*
    *  ----------------------------------------------------------  *
    *  -----  index.astro  --  /src/pages/demo/index.astro  -----  *
    *  ----------------------------------------------------------  *
*/


import Layout from "@layouts/Layout.astro"
import Title from "@components/shared/Title.astro"



---


<Layout 
    titlePage="Pokemon Static | Demo"
>

    <Title>
        Demo
    </Title>

    <p class="text-center text-gray-600 mt-4">
        Demo page content.
    </p>

</Layout>
