---


/*
    *  ---------------------------------------------------------------  *
    *  -----  index.astro  --  /src/pages/favorites/index.astro  -----  *
    *  ---------------------------------------------------------------  *
*/


import Layout from "@layouts/Layout.astro"
import Title from "@components/shared/Title.astro"


---


<Layout 
    titlePage="Pokemon Static | Favoritos"
>

    <Title>
        Favoritos
    </Title>

    <p class="text-center text-gray-600 mt-4">
        Aquí se mostrarán tus Pokémon favoritos.
    </p>

</Layout>
