---


/*
    *  -------------------------------------------------------------  *
    *  -----  index.astro  --  /src/pages/islands/index.astro  -----  *
    *  -------------------------------------------------------------  *
*/


import Layout from "@layouts/Layout.astro"
import Title from "@components/shared/Title.astro"



---


<Layout 
    titlePage="Pokemon Static | Islas"
>

    <Title>
        Islas con Solid JS
    </Title>

    <p class="text-center text-gray-600 mt-4">
        Islas con Solid JS.
    </p>

</Layout>
